<h2 mat-dialog-title> {{ data.title }} </h2>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <input matInput id="name" formControlName="name" required>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Qiskit-File (.py)</mat-label>
      <ngx-mat-file-input id="file" formControlName="file" accept=".py"></ngx-mat-file-input>
    </mat-form-field>

    <h4>Parameters</h4>

    <div *ngFor="let parameter of parametersNameForm.controls; let i = index">
      <div>
        <mat-form-field class="w-25">
          <mat-label>Name</mat-label>
          <input [formControl]="$any(parametersNameForm).controls[i]" matInput required>
        </mat-form-field>
        <mat-form-field class="mx-2 w-15">
          <mat-label>Type</mat-label>
          <mat-select [formControl]="$any(parametersTypeForm).controls[i]" required>
            <mat-option value="STRING">String</mat-option>
            <mat-option value="FLOAT">Float</mat-option>
            <mat-option value="INTEGER">Integer</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-50">
          <mat-label>Default Value</mat-label>
          <input [formControl]="$any(parametersDefaultValueForm).controls[i]" matInput required>
        </mat-form-field>
        <button mat-icon-button class="float-end" color="warn" (click)="removeParameter(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="mx-5 text-center" *ngIf="parametersNameForm.controls.length === 0">
      No parameters will be added to quantum application. Please add parameters if necessary.
    </div>

    <div class="float-end">
      <button mat-icon-button (click)="addParameter()">
        <mat-icon id="add-parameter-icon">queue</mat-icon>
      </button>
    </div>

  </form>
</div>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-raised-button color="primary" [disabled]="isRequiredDataMissing()" [mat-dialog-close]="data">Create
  </button>
</mat-dialog-actions>
