<mat-card class="m-3">
  <button type="button" class="btn btn-success" (click)="addEvent()">
    <i class="bi bi-plus"></i>
  </button>
  <button type="button" class="btn btn-primary mx-1" (click)="fireEvent()">
    <i class="bi bi-play"></i>
  </button>
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th class="col-3">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.name }}</td>
      <td>{{ generateTypeDisplay(event) }}</td>
      <td class="col-3">
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteEvent(event._links.self.href)">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="events.length === 0">
      <div class="mt-1">
        No events found!
      </div>
    </tr>
    </tbody>
  </table>
</mat-card>
