<h2 mat-dialog-title> Invoke {{ data.applicationName }} </h2>

<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field class="w-100">
      <mat-label>Type</mat-label>
      <mat-select id="device" formControlName="device" required [disabled]="this.availableDevices.length === 0">
        <mat-option *ngFor="let availableDevice of availableDevices" [value]="availableDevice">{{ availableDevice }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Reply to</mat-label>
      <input matInput id="replyTo" formControlName="replyTo" required>
    </mat-form-field>
  </form>
</div>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-raised-button color="primary" [disabled]="isRequiredDataMissing()" [mat-dialog-close]="data">Invoke</button>
</mat-dialog-actions>
