<mat-drawer-container class="h-100">
  <mat-drawer mode="side" class="side-navigation" opened>
    <img src="./assets/logo.png"/>
    <div class="title">Quantum Service</div>

    <mat-nav-list>
      <a mat-list-item [routerLink]="'/quantum-applications'" routerLinkActive="tab-active"> Quantum-Applications </a>
      <a mat-list-item [routerLink]="'/events'" routerLinkActive="tab-active"> Events </a>
      <a mat-list-item [routerLink]="'/jobs'" routerLinkActive="tab-active"> IBMQ Jobs </a>
    </mat-nav-list>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


